<section class="container">
    <div class="bd-featurette-title" style="margin-top:10px;">
        <a class="navbar-brand"><h3> PMM 50 Event</h3></a>
    </div>

    <div>
        <br/>
        PMM-50 Years Celebration Event: 9th & 10th April 2022 @ Arcola Intermediate School, Eagleville, PA
        <br/>Ticketing link and other details coming soon…
        <br/>
        <iframe [src]="'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3049.7025019597595!2d-75.42519798429949!3d40.14891007980743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c696d1edfff87d%3A0x2d2998be4d140db6!2sArcola%20Intermediate%20School!5e0!3m2!1sen!2sus!4v1641733470142!5m2!1sen!2sus'| safeurl" width="600" height="450" style="border:0;" allowfullscreen="true" loading="lazy">
        </iframe>

    </div>

</section>