<section class="container">

    <div class="pmm-jumbotron" style="margin-top:15px;">
        <div class="row">
          <!--
            <span class="col-md-4" style="font-weight: bold; font-size:large;">Membership brings significant savings</span>
            <span class="col-md-2">
              <a class="btn btn-sm btn-success" style="margin-left: 5px;" href= "membership">JOIN TODAY</a>
            </span>
            -->
            <span class="col-md-3">
                <a href="assets/pdf/PMM50-Invitation.pdf" target="_blank" style="color:RGB(0,0,255);font-size:large;"><b>Invitation</b></a>
            </span>
            <span class="col-md-3">
                <a href="assets/pdf/9thAprilPrograms.pdf" target="_blank" style="color:RGB(0,0,255);font-size:large;"><b>9th April Programs</b></a>
            </span>
            <span class="col-md-3">
                    <a href="assets/pdf/10thAprilPrograms.pdf" target="_blank" style="color:RGB(0,0,255);font-size:large;"><b>10th April Programs</b></a>
            </span>
        </div> 
      </div>
    <div class="bd-featurette-title" style="margin-top:10px;">
        <a class="navbar-brand"><h3 style="color:red"> PMM 50 PHOTOS & VIDEOS COMING SOON</h3></a>
    </div>
</section>