<section class="page container">
    <div class="container" style="margin-top:5px;">
        <h3 class="display-5">Event Photos</h3>
        
    </div> 
    
    <div *ngIf="photo && photo.length > 0">
        <div *ngFor="let p of photo" class="pmm-jumbotron" style="margin-bottom: 15px;">
            <div class="row">
                <a [href] = "p.Url">
                    <span class="col-md-8" style="font-weight: bold; font-size:large;margin-bottom: 10px;">
                        {{p.Title}}
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>