<section class="page container">
    <div>
        <h3>Event Photos</h3>
    </div> 
    
    <div *ngIf="photo && photo.length > 0">
        <div *ngFor="let p of photo" class="pmm-jumbotron" style="margin-bottom: 15px;">
            <div class="row">                
                <span class="col-md-8" style="font-weight: bold; font-size:large;margin-bottom: 10px;">
                    <a [href] = "p.Url" target="_blank">{{p.Title}}</a>
                </span>
            </div>
        </div>
    </div>
</section>