<section class="page">
    <div class="col-md-4">
        <h2>FAQ / अधिक माहिती</h2>
        <p> आपणास नेहमी पडणारे  प्रश्न, सभासदत्व घेताना पडणारे प्रश्न , वार्षिक वर्गणी, वार्षिक सहल, वर्षभरातील मनोरंजनचे विविध कार्यक्रम, विना सभासद कार्यक्रम, देणगी आणि बरेच काही प्रश्नांची उत्तरे ......
            FAQ about membership, annual membership fee, Annual picnic information, Year around various entertainment programs, Non member programs, Donation and much more... </p>
        <p><a class="btn btn-secondary" role="button" routerLink="/faq">View details &raquo;</a></p>
    </div>  
</section>
    