<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse" style="padding-left:5px !important;">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsPmm" aria-controls="navbarsPmm" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div style="display:inline-flex;">
          <img style="vertical-align:middle;" src="assets/images/a95530a74e018541f02e7bf6225cfcb4.gif" 
          height="100" width="100">  
          <div style="vertical-align:bottom;">
              <a class="navbar-brand" style="font-size:1rem;" href="#">फिलाडेल्फिया मराठी मंडळ<br>Philadelphia Marathi Mandal</a>  
          </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarsPmm">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="home">Home 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="membership">Membership</a>        
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="newsletter">Newsletter</a>        
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="photo-video">Photo/Video</a>        
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about-us">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="committee">Committee</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" routerLink="new-to-philly">New to Philly</a>       
          </li>
        </ul>
      </div>
  </nav>