<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse" style="padding:2px !important;">
    <div style="margin-left:10%;" class="display:flex; flex-direction:row">
        <div class="width=100%;">
            <a routerLink="home">
                <img height="150" src="assets/images/phillymm.png">       
            </a>   
        </div>
        
        <button style="z-index:5000;top:0;" class="navbar-toggler navbar-toggler-right bg-inverse" 
          type="button" data-toggle="collapse" 
          data-target="#navbarsPmm" aria-controls="navbarsPmm" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarsPmm">
          <ul class="navbar-nav" *ngIf="!dataToggleSet">
            <li class="nav-item">
              <a class="nav-link" routerLink="home">Home 
              </a>
            </li>
            <!-- renabled membership tab temporarily -->
            <li class="nav-item">
              <a class="nav-link" routerLink="membership">Membership</a>        
            </li>
         
            <li class="nav-item">
              <a class="nav-link" routerLink="merchandise">Merchandise</a>        
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="newsletter">Newsletter "Ninaad"</a>        
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="photo-video">Photo/Video</a>        
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="about-us">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="committee">Committee</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="logoSloganComp2021">Logo Contest*</a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link" routerLink="cookiepolicy">Cookie Policy</a>
            </li>
            -->
            <li class="nav-item">
              <a  class="nav-link" routerLink="new-to-philly">New to Philly</a>       
            </li>
          </ul>

          <ul class="navbar-nav" *ngIf="dataToggleSet">
              <li class="nav-item">
                <a class="nav-link" href="home">Home 
                </a>
              </li>
              <!--
              <li class="nav-item">
                <a class="nav-link" href="membership">Membership</a>        
              </li>
            -->
              <li class="nav-item">
                <a class="nav-link" routerLink="merchandise">Merchandise</a>        
              </li>
              <li class="nav-item">
                <a class="nav-link" href="newsletter">Newsletter "Ninaad"</a>        
              </li>
              <li class="nav-item">
                <a class="nav-link" href="photo-video">Photo/Video</a>        
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about-us">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="committee">Committee</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" href="new-to-philly">New to Philly</a>       
              </li>
            </ul>
        </div>    
    </div>
  </nav>