<section class="page container">
  <br/><br/><br/><br/>
    <div class="col-md-12" style="padding:1em">
      <img src="/assets/images/Proud BMM Member Logo.png"  height="25%" width="25%" />
    </div>
    <style>
       p.MsoNormal, li.MsoNormal, div.MsoNormal
        {margin-top:0in;
        margin-right:0in;
        margin-bottom:10.0pt;
        margin-left:0in;
        line-height:115%;
        font-size:11.0pt;
        font-family:"Calibri",sans-serif;}
      a:link, span.MsoHyperlink
        {color:blue;
        text-decoration:underline;}
      p.MsoNoSpacing, li.MsoNoSpacing, div.MsoNoSpacing
        {margin:0in;
        font-size:11.0pt;
        font-family:"Calibri",sans-serif;}
      .MsoChpDefault
        {font-family:"Calibri",sans-serif;}
      .MsoPapDefault
        {margin-bottom:10.0pt;
        line-height:115%;}
      </style>
      
      <div class=WordSection1>
      
      <p class=MsoNoSpacing><b><span style='font-size:12.0pt'>Namaskar PMM Vaasiyon,</span></b></p>
      
      <p class=MsoNoSpacing><span style='font-size:12.0pt'>&nbsp;</span></p>
      
      <p class=MsoNoSpacing><span style='font-size:12.0pt'>After the tremendous
      success of our very own PMM-50, we look forward to seeing you at</span><span
      style='font-size:12.0pt'> the&nbsp;Biennial Bruhan Maharashtra Mandal (BMM) Convention
      (<b>BMM-2022</b>) to be held at the <b>Atlantic City Convention Center</b> from
      <b>Au</b></span><b><span style='font-size:12.0pt'>g 11<sup>th</sup> to Aug 14<sup>th</sup></span></b><b><span
      style='font-size:12.0pt'>, 2022</span></b><span style='font-size:12.0pt'>.</span></p>
      
      <p class=MsoNoSpacing><span style='font-size:12.0pt'>&nbsp;</span></p>
      
      <p class=MsoNoSpacing align=center style='text-align:center'><b><span
      style='font-size:12.0pt'>Seating is limited</span></b><span style='font-size:
      12.0pt'>!!! Register Today!!! </span><a href="https://bmm2022.org/registration/"><span
      style='font-size:12.0pt'>https://bmm2022.org/registration/</span></a></p>
      
      <p class=MsoNoSpacing><span style='font-size:12.0pt'>&nbsp;</span></p>
      
      <p class=MsoNoSpacing><span style='font-size:12.0pt'>Come and see this
      spectacular event and make it memorable for&nbsp;yourself and the entire Marathi&nbsp;community
      across North America. Countless volunteers are giving beyond their best for the
      last 18+ months (yes despite all the odds). A lot of hard work and planning has
      been done and all that needed is <b>Your Support</b>. Please make sure to
      support by attending the&nbsp;BMM&nbsp;Convention. Get ready to be pampered and
      treated and surprised!!!</span></p>
      
      <p class=MsoNormal style='line-height:normal;background:white'><b><span
      style='font-size:12.0pt;font-variant:small-caps;color:#000099'>An Authentic
      Marathi Feast </span></b></p>
      
      <p class=MsoNoSpacing style='margin-left:.5in;text-indent:-.25in'><span
      style='font-size:12.0pt;font-family:Wingdings'>v<span style='font:7.0pt "Times New Roman"'>
      </span></span><span style='font-size:12.0pt'>8 exotic meals over 3 days&nbsp;</span></p>
      
      <p class=MsoNoSpacing style='margin-left:.5in;text-indent:-.25in'><span
      style='font-size:12.0pt;font-family:Wingdings'>v<span style='font:7.0pt "Times New Roman"'>
      </span></span><span style='font-size:12.0pt'>30+ programs spanning across all
      genres such as Music, Drama, Dance, Comedy, Talk Show, Educational Seminars,
      and various competitions.</span></p>
      
      <p class=MsoNoSpacing style='margin-left:.5in;text-indent:-.25in'><span
      style='font-size:12.0pt;font-family:Wingdings'>v<span style='font:7.0pt "Times New Roman"'>
      </span></span><span style='font-size:12.0pt'>Mix of various programs from
      renowned artist in India and talent from North America </span></p>
      
      <p class=MsoNoSpacing style='margin-left:.5in;text-indent:-.25in'><span
      style='font-size:12.0pt;font-family:Wingdings'>v<span style='font:7.0pt "Times New Roman"'>
      </span></span><span style='font-size:12.0pt'>Above all, an opportunity to meet
      people from various spectrum, to make new friends at this grand, spectacular
      and extravaganza event.</span></p>
      
      <p class=MsoNoSpacing><span style='font-size:12.0pt'>&nbsp;</span></p>
      
      <p class=MsoNoSpacing><span style='font-size:12.0pt'>So, get ready to create a
      chapter full of beautiful memories!!! </span></p>
      
      <p class=MsoNoSpacing><span style='font-size:12.0pt'>Don't forget to register
      &gt; </span><a href="https://bmm2022.org/registration/"><span style='font-size:
      12.0pt'>https://bmm2022.org/registration/</span></a></p>
      
      <p class=MsoNormal style='line-height:normal;background:white'><b><span
      style='font-size:12.0pt;color:black'>Teaser </span></b><span style='font-size:
      12.0pt;color:#000099'>https://www.youtube.com/watch?time_continue=8&amp;v=VyGCpFfNvwg&amp;feature=emb_logo</span></p>
      
      <p class=MsoNormal align=center style='text-align:center;line-height:normal;
      background:white'><b><span style='font-size:12.0pt;color:#000099'>It's OUR
      FESTIVAL. It's OUR PRIDE</span></b></p>
      
      <p class=MsoNormal style='line-height:normal;background:white'><span
      style='font-size:12.0pt;color:black'>On behalf of&nbsp;BMM&nbsp;2022 Team,</span></p>
      
      <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=666
       style='width:499.2pt;margin-left:-.25pt;background:white;border-collapse:collapse'>
       <tr>
        <td width=344 nowrap valign=top style='width:257.75pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><span
        style='font-size:12.0pt'>Prashant Kolhatkar</span></b></p>
        </td>
        <td width=32 nowrap valign=top style='width:24.1pt;padding:0in 0in 0in 0in'></td>
        <td width=290 nowrap valign=top style='width:217.35pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><span
        style='font-size:12.0pt;color:black'>Vidya Joshi</span></b></p>
        </td>
       </tr>
       <tr>
        <td width=344 nowrap valign=top style='width:257.75pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><span
        style='font-size:12.0pt;color:black'>BMM 2022 Convener</span></p>
        </td>
        <td width=32 nowrap valign=top style='width:24.1pt;padding:0in 0in 0in 0in'></td>
        <td width=290 nowrap valign=top style='width:217.35pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><span
        style='font-size:12.0pt;color:black'>President,&nbsp;</span></p>
        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><span
        style='font-size:12.0pt;color:black'>BMM&nbsp;Of North America&nbsp;2019-2022</span></p>
        </td>
       </tr>
       <tr>
        <td width=344 nowrap valign=top style='width:257.75pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><span
        style='font-size:12.0pt;color:black'>Email:&nbsp;</span><span
        style='color:black'><a href="mailto:prashant.kolhatkar@bmm2022.org"
        target="_blank"><span style='font-size:12.0pt'>prashant.kolhatkar@bmm2022.org</span></a></span></p>
        </td>
        <td width=32 nowrap valign=top style='width:24.1pt;padding:0in 0in 0in 0in'></td>
        <td width=290 nowrap valign=top style='width:217.35pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><span
        style='font-size:12.0pt;color:black'>Email:&nbsp;</span><span
        style='color:black'><a href="mailto:vidya.joshi@bmmonline.org" target="_blank"><span
        style='font-size:12.0pt'>vidya.joshi@bmmonline.org</span></a></span></p>
        </td>
       </tr>
       <tr>
        <td width=344 nowrap valign=top style='width:257.75pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><span
        style='color:black'><a href="https://bmm2022.org/" target="_blank"><span
        style='font-size:12.0pt'>https://bmm2022.org/</span></a></span></p>
        </td>
        <td width=32 nowrap valign=top style='width:24.1pt;padding:0in 0in 0in 0in'></td>
        <td width=290 nowrap valign=top style='width:217.35pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><span
        style='color:black'><a href="https://www.bmmonline.org/" target="_blank"><span
        style='font-size:12.0pt'>https://www.bmmonline.org/</span></a></span></p>
        </td>
       </tr>
       <tr>
        <td width=344 nowrap valign=top style='width:257.75pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><span
        style='color:black'><a href="https://www.facebook.com/bmm2022nj"
        target="_blank"><span style='font-size:12.0pt'>https://www.facebook.com/bmm2022nj</span></a></span></p>
        </td>
        <td width=32 nowrap valign=top style='width:24.1pt;padding:0in 0in 0in 0in'></td>
        <td width=290 nowrap valign=top style='width:217.35pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><span
        style='color:black'><a href="http://www.bmmshala.net/" target="_blank"><span
        style='font-size:12.0pt'>www.bmmshala.net</span></a></span></p>
        </td>
       </tr>
       <tr>
        <td width=344 nowrap valign=top style='width:257.75pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><span
        style='font-size:12.0pt;color:black'>Phone: (732)-801-4032</span></p>
        </td>
        <td width=32 nowrap valign=top style='width:24.1pt;padding:0in 0in 0in 0in'></td>
        <td width=290 nowrap valign=top style='width:217.35pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><span
        style='font-size:12.0pt;color:black'>Phone: (224) -321-2948</span></p>
        </td>
       </tr>
      </table>
      
      <p class=MsoNormal><span style='font-size:12.0pt;line-height:115%'>&nbsp;</span></p>
      
      <p class=MsoNoSpacing><b><span style='font-size:12.0pt;color:#C00000'>Follow
      BMM-2022 Updates: </span></b></p>
      
      <p class=MsoNoSpacing><a href="https://www.facebook.com/bmm2022nj"><span
      style='font-size:12.0pt'>https://www.facebook.com/bmm2022nj</span></a></p>
      
      <p class=MsoNoSpacing><a href="https://twitter.com/BMM2022NJ"><span
      style='font-size:12.0pt'>https://twitter.com/BMM2022NJ</span></a></p>
      
      <p class=MsoNoSpacing><a href="https://www.instagram.com/bmm2022nj/"><span
      style='font-size:12.0pt'>https://www.instagram.com/bmm2022nj/</span></a></p>
      
      <p class=MsoNoSpacing><a
      href="https://www.youtube.com/channel/UC0gT3nwv-_F65lbG0G4UHiQ"><span
      style='font-size:12.0pt'>https://www.youtube.com/channel/UC0gT3nwv-_F65lbG0G4UHiQ</span></a></p>
      
      </div>
</section>
