<section class="container">
    <div class="bd-featurette-title" style="margin-top:10px;">
        <a class="navbar-brand"></a>
    </div>
    <style>
        /* Define the flex container */
        .container2 {
          display: flex;
        }
        
        /* Define the left columns */
        .left-column {
          flex: 1;
          display: flex;
          flex-direction: column;
          position: relative;
          align-items: flex-start; 
        }
        .left-column img {
          position: relative;
          top: 0;
          left: 0;
          max-width: 60%;
          height: auto;
        }
        /* Define the right column */
        .right-column {
          flex: 1;
          flex-direction: column;
          position: relative;
          padding-left: 20px;
        }
        
        /* Define some text */
        p {
          font-size: 18px;
          line-height: 1.5;
        }
      </style>    
    <div class="container2">
        <div class="left-column">
            <img src="assets/images/PMMConnect.png" alt="PMMConnect">
        </div>
        <div class="right-column">
          <h2>PMM-Connect Mission:</h2>
          <br/>
          <ul>
          <li><h5>Extend PMM's reach in the Indo-American community beyond current PMM members by active participation and collaboration with other community organizations.</h5></li>
          <li><h5>Provide a common platform for the community to share & enjoy similar interests:</h5></li>
            <ul>
            <li>Health (Yoga, Meditation, Blood Donation drive etc..)</li>
            <li>Networking Opportunities for entrepreneurs, Business Summit etc..</li>
            <li>Sports (Cricket, Hiking, Bowling, Tennis, Badminton)</li>
            <li>Entertainment Events (Movie night, Dinner Cruise etc..)</li>
            </ul>
          <li><h5>Make new connections/friends of similar interests.</h5></li>
          </ul>
          <br/><h5>Contact - Suchitra Shinde (<a href="mailto:pmm.connect@gmail.com">pmm.connect@gmail.com</a> )</h5> 
                    <!-- <h3><b>PMM Connect T-Shirt Payment QR Code</b></h3>
                      <img height="50px" src="assets/images/QRCodeConnect.jpg" alt="QR Code">
                      -->
        </div>
      </div>
    </section>
