<section class="container">
    <div class="col-md-12">
        <h2>ABOUT US / मंडळाविषयी</h2>
        <p>मराठी मंडळाची स्थापना व इतिहास , मंडळाचे उपविधी, कायदे, ना नफा न तोटा संस्थेबद्दल अधिक माहिती, मराठी मंडळातर्फे राबवण्यात येणाऱ्या विविध उपक्रमांबद्दल विशेष माहिती....
            History and formation of Philadelphia Marathi Mandal, Marathi Mandal By-laws, Non profit Organization related information, information about various activities carried out by Phialdelphia Marathi Mandal ...</p>
    </div>
</section>