<section class="container" style="margin-top: 10px;">
    <div class="col-md-12">
        <h2>ABOUT US / मंडळाविषयी</h2>
        <h3>PMM Mission and Goals</h3>
        <p> 
            To initiate literary, educational and charitable activities which without limiting the generality thereof, 
            include promotion of various activities such as music, dance and theater, related to the culture, tradition and language
            of the state of Maharashtra, India.
        </p>
        <p>
            To integrate Maharashtrian community with the local culture and people, and to communicate with other Inidan organizations in a constructive way.
        </p>
        <p>
            To instill Maharashtrian culture, tradition and Marathi language to the younger generation. 
        </p>
        <p>
            To help members of Maharashtrian community.
        </p>
        <p>
            To help local community for charitable purposes.
        </p>
    </div>
</section>