<section class="pmm-sideimg" style="display:flex; flex-direction:column;width:100%;position:absolute;">
  <app-header></app-header>
  
  <div class="display-controller" style="margin-left:10%;border: 0; vertical-align: top;">
      <router-outlet></router-outlet>      
      <footer class="bd-footer text-muted">
          <div class="container" style="margin-top: 15px;">
              <section>
                  <header>
                    <h2>Connect</h2>
                  </header>
                  <ul class="social">
                    <li><a href="https://www.facebook.com/PhillyMM" class="fa-facebook"></a></li>
                    <li><a href="mailto:Secy.PhillyMM@gmail.com" class="fa-envelope"></a></li>
                    <!--<li>
                        <a href="tel:+19165416245" class="fa-phone"></a>
                    </li>
                    <li>
                      <span class="label">+1 916-541-6245</span>
                    </li>-->
                  </ul>
              </section>
              <section style="float: right;">
                <!-- Start of CuterCounter Code -->
                <a href="https://www.cutercounter.com/" target="_blank"><img src="https://www.cutercounter.com/hit.php?id=gurfdxkc&nd=6&style=65" border="0" alt="hit counter">
                </a>
                <!-- End of CuterCounter Code -->
              </section>
              <section>
                <div class="cookie-banner" style="display: none; background-color: yellowgreen;color:navy;">
                  <p>By using our website, you agree to our <a href="/cookiepolicy">cookie policy</a></p>
                  <button class="close" onclick="$('.cookie-banner').hide()">&times;</button>
                </div>
              </section>
              <p>&copy; 2023. Marathi Mandal of Philadelphia. All rights reserved.</p>
          </div>
        </footer>
  </div> 
</section>

