<section style="display:flex; flex-direction:column;width:100%; height:100%; position:absolute;">
  <app-header></app-header>
  
  <section class="display-controller">
    <router-outlet></router-outlet>  
  </section>

  <hr>
  <footer class="bd-footer text-muted">
    <div class="container">
        <section>
            <header>
              <h2>Connect with us on</h2>
            </header>
            <ul class="social">
              <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="fa-google-plus"><span class="label">Google+</span></a></li>
              <li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
              <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </section>
      <p>&copy; 2018. Marathi Mandal of Philadelphia. All rights reserved.</p>    
    </div>
  </footer>
</section>