<section class="page container">
  <div class="col-md-12">
    <h2>NEWSLETTER / वार्तापत्र</h2>
    <p>
        The newsletter has articles in categories such as •	Member News/Accomplishments/Achievements Short Stories, 
        Reviews of Plays/Movies, Poems, Travel Essays,Essays/Drawings/Poems/Jokes from children,Interviews with 
        interesting/famous personalities, Recipes, Opinions and Jokes.
    </p>
  </div>

    <div *ngIf="newsletter && newsletter.length > 0">
        <div *ngFor="let c of newsletter" class="pmm-jumbotron" style="margin-bottom: 15px;">
            <div class="row">
                <span class="col-md-8" style="font-weight: bold; font-size:large;">
                    {{c.Title}}
                </span>
            </div>
            <div class="row" *ngFor="let ni of c.Items"> 
                <span class="col-md-8" style="font-weight: bold; font-size:large;">
                    <a [href]="ni.Url" target="_blank">{{ni.Title}}</a>
                </span>
            </div> 
        </div>
    </div>
</section>