<section class="container">
    <div class="bd-featurette-title" style="margin-top:10px;">
        <a class="navbar-brand"><h3> Logo Contest 2021</h3></a>
    </div>
    <div>
        <img height="800" src="assets/images/logoSlogan2.png">   
    </div>
    <div style="font-size:150%">
        नमस्कार मंडळी,
<p>
As we all know that “Philadelphia Marathi Mandal” is celebrating the Golden Jubilee year in 2021. 
</p>
<p>
The PMM 50 years committee is happy to announce the “Logo & Slogan Competition” for all the marathi community. We are inviting you all to come and participate in this competition 
To participate in the PMM - Logo & Slogan competition, kindly submit your entries by June 15th 2021. 
</p>
<p>
There will be a winner for best Logo and Slogan.
</p>
<br/>
<b>
Guidelines:
</b>
<p>
<b>Logo</b><br/><br/>
One entry / Per Person  (the latest entry will be counted)<br/>
Any Text added to the Logo should only be in Marathi <br/>
Logo should have “Philadelphia Marathi Mandal” name which is  mandatory plus should have something to signify 50 years/Golden Jubilee celebration
Logo can be in any shape<br/>
Size - should fit in 2 inches * 2 Inches size<br/>
Format for logo - jpeg or png  and High resolution.<br/>
</p>
<p>
    <a href="https://docs.google.com/forms/d/1awaJQwuBNUlMXsg-8KKgZqqLd9vIyt9W2X1pUGd3WiQ/viewform?edit_requested=true">Submit Your Logo!</a>
</p>
<p> 
<b>Slogan</b><br/><br/>
One entry / Per Person  (the latest entry will be counted)<br/>
Any Text on the Slogan can be in Marathi or English<br/>
Slogan can have max 12 words<br/>
Any font can be used for the Slogan<br/>
</p>
<p>
   <a href="https://docs.google.com/forms/d/1M_ub_T0sCYYr_aJBiKawuGpu4xCe9ZT6A-mPnlZ5f2Y/viewform?edit_requested=true"> Submit your Slogan</a>
</p>
    </div>        
</section>