<div class="page container form-horizontal" >    
    <div class="col-sm-12">
            WELCOME to Philadelphia! 
            <div class="pmm-jumbotron" style="margin-top:5px;margin-bottom: 15px;">
                <div class="row" >
                    <span class="col-md-12"  style="font-weight: bold; font-size:large;">Join our mailing list: <a href="https://docs.google.com/forms/d/e/1FAIpQLSd_cJX8XcJXgYQJbczqw9SGRcHmp_kTR6Fej9-yCr7F1BSoCg/viewform">Mailing List Subscription</a></span>
                    </div>
            </div>
    </div>
</div>    