   <div class="container">
   <div class="h1">PHILADELPHIA MARATHI MANDAL COOKIE POLICY</div>
    <div>Last updated [September, 30, 2020]</div>
    <hr size="6" width="100%" align="center" />
    <div nav-item="">
      <b>
        <span>INTRODUCTION</span>
      </b>
    </div>
    <div style="color:black;">Philadelphia Marathi Mandal (we or us or our) may use cookies, web beacons, tracking pixels, and other tracking technologies when you visit our website [phillymm.org], including any other media form, media channel, mobile website, or mobile application related or connected thereto (collectively, the Site) to help customize the Site and improve your experience.</div>
    <div style="color:black;">We reserve the right to make changes to this Cookie Policy at any time and for any reason. We will
    alert you about any changes by updating the Last Updated date of this Cookie Policy. Any changes or modifications will be
    effective immediately upon posting the updated Cookie Policy on the Site, and you waive the right to receive specific notice of
    each such change or modification.</div>
    <div style="color:black;">You are encouraged to periodically review this Cookie Policy to stay informed of updates. You will be
    deemed to have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised Cookie
    Policy by your continued use of the Site after the date such revised Cookie Policy is posted.</div>
    <div style="color:black;">This Cookie Policy was created
    <span>using</span> 
    <a href="https://termly.io/divroducts/cookie-consent-manager/">
      <span>Termlys Cookie Consent Manager</span>
    </a></div>
    <div><b>USE OF COOKIES</b></div>
    <div style="color:black;">A cookie is a string of information which assigns you a unique identifier that we store on your computer. Your browser then provides that unique identifier to use each time you submit a query to the Site. We use cookies on     the Site to, among other things, keep track of services you have used, record registration information, record your user     preferences, keep you logged into the Site, facilitate purchase procedures, and track the pages you visit. Cookies help us understand how the Site is being used and improve your user experience.</div>
    <div><b>TYPES OF COOKIES</b></div>
    <div style="color:black">The following types of cookies may be used when you visit the Site:</div>
    <div style="color:black"><b>Advertising Cookies</b></div>
    <div style="color:black">Advertising cookies are placed on your computer by advertisers and ad servers in order to display     advertisements that are most likely to be of interest to you. These cookies allow advertisers and ad servers to gather     information about your visits to the Site and other websites, alternate the ads sent to a specific computer, and track how often an ad has been viewed and by whom. These cookies are linked to a computer and do not gather any personal information about you.</div>
    <div><b>Analytics Cookies</b></div>
    <div style="color:black">Analytics cookies monitor how users reached the Site, and how they interact with and move around once     on the Site. These cookies let us know what features on the Site are working the best and what features on the Site can be improved.</div>
    <div style="color:black">Our Cookies</div>
    <div style="color:black">Our cookies are first-party cookies, and can be either permanent or temporary. These are necessary
    cookies, without which the Site won&#39;t work properly or be able to provide certain features and functionalities. Some of
    these may be manually disabled in your browser, but may affect the functionality of the Site.</div>
    <div style="color:black"><b>Personalization Cookies</b></div>
    <div style="color:black">Personalization cookies are used to recognize repeat visitors to the Site. We use these cookies to record your browsing history, the pages you have visited, and your settings and preferences each time you visit the Site.</div>
    <div style="color:black">
      <b>Security Cookies</b>
    </div>
    <div style="color:black">Security cookies help identify and prevent security risks. We use these cookies to authenticate users
    and protect user data from unauthorized parties.</div>
    <div style="color:black">
      <b>Site Management Cookies</b>
    </div>
    <div style="color:black">Site management cookies are used to maintain your identity or session on the Site so that you are not
    logged off unexpectedly, and any information you enter is retained from page to page. These cookies cannot be turned off
    individually, but you can disable all cookies in your browser.</div>
    <div style="color:black">
      <b>Third-Party Cookies</b>
    </div>
    <div style="color:black">Third-party cookies may be place on your computer when you visit the Site by companies that run
    certain services we offer. These cookies allow the third parties to gather and track certain information about you. These
    cookies can be manually disabled in your browser.</div>
    <div>
      <b>CONTROL OF COOKIES</b>
    </div>
    <div style="color:black">Most browsers are set to accept cookies by default. However, you can remove or reject cookies in your
    browsers settings. Please be aware that such action could affect the availability and functionality of the Site.</div>
    <div style="color:black">For more information on how to control cookies, check your browser or devices settings for how you can
    control or reject cookies, or visit the following links:</div>
    <div style="color:black">
      <a href="https://support.apple.com/kb/divh19214?locale=en_US">
        <span style="color:#1155CC">Apple Safari</span>
      </a>
    </div>
    <div style="color:black">
      <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&amp;hl=en">
        <span style="color:#1155CC">Google Chrome</span>
      </a>
    </div>
    <div style="color:black">
      <a href="https://divrivacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy">
        <span style="color:#1155CC">Microsoft Edge</span>
      </a>
    </div>
    <div style="color:black">
      <a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies">
        <span style="color:#1155CC">Microsoft Internet Explorer</span>
      </a>
    </div>
    <div style="color:black">
      <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">
        <span style="color:#1155CC">Mozilla Firefox</span>
      </a>
    </div>
    <div style="color:black">
      <a href="http://www.opera.com/help/tutorials/security/cookies/">
        <span style="color:#1155CC">Opera</span>
      </a>
    </div>
    <div style="color:black">
      <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DAndroid&amp;hl=en&amp;oco=1">
        <span style="color:#1155CC">Android (Chrome)</span>
      </a>
    </div>
    <div style="color:black">
      <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DiOS&amp;hl=en&amp;oco=1">
        <span style="color:#1155CC">Iphoneor Ipad (Chrome)</span>
      </a>
    </div>
    <div style="color:black">
      <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DAndroid&amp;hl=en&amp;oco=1">
        <span style="color:#1155CC">Iphone or Ipad (Safari)</span>
      </a>
    </div>
    <div style="color:black">
    <span style="color:black">In addition, you may opt-out of some third-party cookies through the</span> 
    <a href="http://optout.networkadvertising.org/#!/">
      <span style="color:#1155CC">Network Advertising Initiatives Opt-Out Tool</span>
    </a>
    <span style="color:black">.</span></div>
    <div><b>OTHER TRACKING TECHNOLOGIES</b></div>
    <div style="color:black">In addition to cookies, we may use web beacons, pixel tags, and other tracking technologies on the Site to help customize the Site and improve your experience. A web beacon or pixel tag is tiny object or image embedded in a     web page or email. They are used to track the number of users who have visited particular pages and viewed emails, and acquire other statistical data. They collect only a limited set of data, such as a cookie number, time and date of page or email view, and a description of the page or email on which they reside. Web beacons and pixel tags cannot be declined. However, you can limit their use by controlling the cookies that interact with them.</div>
	</div>