<section class="page container">
    <div *ngIf="committee && committee.length > 0">
        <div *ngFor="let c of committee" class="pmm-jumbotron" style="margin-bottom: 15px;">
            <div class="row">
                <span class="col-md-8" style="font-weight: bold; font-size:large;">
                    {{c.Title}}
                    <span *ngIf="c.Email">({{c.Email}})</span>
                </span>
            </div>
            <div class="row" *ngFor="let cm of c.Members">   
                <span *ngIf="cm.role" class="col-md-4 header">
                        <b>{{cm.role}}:</b> {{cm.person}}
                </span>
                <span *ngIf="!cm.role" class="col-md-4 header">
                        {{cm.person}}
                </span>
                <span  class="col-md-4 header">
                        {{cm.email}}
                </span>
            </div> 
            <br/>
            <div *ngIf="c.Intro" class="row" style="text-align: left;font-weight: bolder;">
                <span>&nbsp;&nbsp;&nbsp;PMM EC (2020-2022)- Introduction Details &nbsp;</span>
                <span style="background-color: gold"><a href="{{c.Intro}}" target="_blank">Click here.
                    </a></span>
            </div>
            <!--Temporarily hiding picture till new picture is received 08/24/2020-->
            
            <div *ngIf="c.Picture" class="col-md-12" style="padding:1em">
                <img [src]=c.Picture width="100%" />
                
            </div>

        </div>
      </div>
</section>