/* You can add global styles to this file, and also import other style files */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 2rem;
    pointer-events: all;
}

.bg-inverse {
    background-color: #F07A2A !important;
}

.navbar-inverse .navbar-toggler {
    border-color: #fff  !important;
}

.navbar-toggler-icon {
    width: 1rem !important;
}

.nav-link {
    padding:0px !important;
}

.nav-item {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    padding:1px !important;
    font-size:17px;
    font-family:Calibri, Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;	
}

.nav-item > a {
    background: #f38647;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding:10px !important;
    line-height: 20px;
    border-radius:4px;
    background-image: -webkit-gradient(
    linear,
	left top,
	left bottom,
	color-stop(0, #f38647),
	color-stop(1, #f38647)
    );
}

.navbar-nav a:hover {
    background: rgb(116, 73, 34);
}

.navbar-inverse .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.85);
}

@media (min-width: 576px) {
    .display-controller {
        padding-top:160px !important;
    }    
}

@media (min-width: 992px) {
    .nav-item {
        height: 40px !important;      
    }
    
    .navbar {
        padding-top: 1px !important;
    }
}

@media (max-width: 500px) {
    .display-controller {
        padding-top:130px !important;
    }
}

.page {
    margin-top: 35px;
}

.nav-bar {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

ul.social li {
    display: inline-block;
    margin-left: 5px;
    height: 40px;
}

ul.social li a {
    position: relative;
    display: block;
    text-decoration: none;
    background:  rgb(116, 73, 34);
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
}

ul.social li a:before {
    display: inline-block;
    font-family: FontAwesome;
    text-decoration: none;
    font-size: 20px;
}

ul.social li a:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -10px;
    border-top: solid 10px  rgb(116, 73, 34);
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
}

body { 
    font-size: small; color: #300; font-size: 12px; margin: 0; 
    background: #B47BFA;
    background-image:url('assets/images/Pmm_V.jpg');
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-position:center;
    /*background-repeat:repeat-y; no-repeat;*/
    background-attachment: fixed;
    display: block; font-family: 'Lato', sans-serif, Arial, Helvetica, Verdana; 
}
    
div { margin: auto; }
a { color: #3b5998; text-decoration: none; }
a:visited { color: #3b5998; }
a:hover, a:active { color: #111100; border: #111100; text-decoration: underline; }