/* You can add global styles to this file, and also import other style files */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 2rem;
    pointer-events: all;
}

.bg-inverse {
    background-color: #F07A2A !important;
}