<section class="home">
  <!-- Main jumbotron for a primary marketing message or call to action -->

  <div class="pmm-jumbotron" style="margin-top:15px;">
    <div class="row">
        <span class="col-md-4" style="font-weight: bold; font-size:large;">Membership brings significant savings</span>
        <span class="col-md-2">
          <a class="btn btn-sm btn-success" style="margin-left: 5px;" href= "membership">JOIN TODAY</a>
        </span>
        <span class="col-md-4" style="font-weight: bold; font-size:large;">
            <span style="color: red; font-size: medium;">Donation to SEWA 4 COVID-19 PA <i class="blinking" style="font-size: xx-small">Click Donate Button</i></span>
            <br>
            <span class="text-muted" style="font-size:small;"> 
              * Check with your company for matching donations
            </span>
        </span>
        <span class="col-md-2">
          <form ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="A8HXEXCSCR4UA">
            <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
             <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </span>
    </div> 
  </div>

  <div class="pmm-jumbotron" style="margin-top:5px;margin-bottom: 15px;">
    <div class="row">      
        <div class="col-md-12">
          <img src="assets/images/GaneshaPhoto.jpeg" style="width: 25%;height:25%">
        </div>
      </div>
      <div>
        <p>
        <b style="color:blue">नमस्कार मंडळी,</b>
        <br />गणपती बाप्पा मोरया, मंगलमुर्ती मोरया !!!
        <br /></p>
        <p>Hope this email finds you all in good health!!
        <br />PMM year starts during Ganapati festival every year and we celebrate our Ganapati program on a weekend day during
        Philadelphia Ganesh Festival.
        <br />At this time, due to restrictions, we are unable to conduct in-person programs, however we will perform marathi aarti and
        have a virtual cultural program.
        <br /></p>
        <p>
        <b style="color:blue;text-decoration:underline;">Marathi Aarti:</b> PMM members will have an opportunity to perform Marathi
        aarti during PGF 2020 on <span style="background-color: #FFFF00">Sunday Aug 23rd @12.30-1.00 pm</span> slot.
        <br />The sign up is only for 20 people and on a first-come-first-serve basis. If you would like to participate in Marathi
        Aarti in-person, please fill out the google form below.
        <br />
        <b>After the first 20 attendees, the enrollment link will get disabled automatically.</b>
        <br />
        Aarti will also be telecasted via live 
        <a href="https://zoom.us/j/2485749079#success">zoom</a>
        <br />
        <b style="color:blue">[Meeting ID is 
        <u>2485749079</u>, Password is 
        <u>123456</u>]</b>
        <br /></p>
        <p>Headcount of 20 has been decided by the temple considering the safety of devotees. We recommend avoiding bringing young
        children.
        <br /></p>
        <p>
        <b style="color:blue;text-decoration:underline;">PGF-PMM Special Live Program:</b>
        <br />To keep the tradition of the cultural aspect of the festival, PMM will be presenting a virtual program &quot;Celebrating
        past 15 years of PGF&quot; on <span style="background-color: #FFFF00">Saturday Aug 22nd @ 8.00 pm</span>
        <br /></p>
        <p>Please refer to the below Youtube Link to watch the Online program.
        <br />
        <a href="https://youtu.be/VSsu5WiinlI" target="blank">
          <img src="/assets/images/pgf2020show.jpg" style="width: 25%;height:25%"/>
          <b>https://youtu.be/VSsu5WiinlI</b>
        </a> ( Youtube Link will start streaming @7.50 pm EST , Aug 22 )
        <br /></p>
        <table cellspacing="1" cellpadding="1" border="2" style="font-weight:bold">
          <tr>
            <td>PMM Aarti - In Person Signup via google form</td>
            <td><span style="color:blue;text-decoration:underline;"><a href="https://docs.google.com/forms/d/e/1FAIpQLSclttzrsjYIVRDsOm3p2nneuC45id5L80cI7EjgqYci1eEpXw/viewform?usp=sf_link" target="_blank">In Person - Marathi Aarti Signup</a></span>
              <span style="font-size:smaller; background-color: #FFFF00;color:red">Sunday Aug 23rd @12.30-1.00 PM</span> <br/>
              20 attendees - First come first serve basis</td>
          </tr>
          <tr>
            <td>PGF 2020 Festival Brochure (Mobile friendly version)</td>
            <td>
              <a href="http://pgf.mobilepaper.us/" target="_blank">http://pgf.mobilepaper.us/</a>
            </td>
          </tr>
          <tr>
            <td>PGF Volunteer Signup Link</td>
            <td>
              <a href="https://www.signupgenius.com/go/10c0d4da8ab2aa3f8ce9-committee" target="_blank">Volunteer Signup link</a>
            </td>
          </tr>
          <tr>
            <td style="text-align:right" colspan="2">Masks, face shields, hand gloves will be provided to volunteers</td>
          </tr>
        </table>
        <p style="font-weight: bold;">Stay Safe..!! Stay Healthy..!!
        <br /></p>
        <p style="color:red;font-weight: bolder;">Any further questions, please contact 
        <a href="mailto:Secy.PhillyMM@gmail.com">Secy.PhillyMM@gmail.com</a>
        <br />
        <br /></p>
        <b style="color:blue">आपले आभारी,
        <br />फिलाडेल्फिया मराठी मंडळ कार्यकारणी</b>
    </div>   
</div>

  <div class="pmm-jumbotron" style="margin-top:5px;margin-bottom: 15px;">
      <div class="row" >
          <span class="col-md-6"  style="font-weight: bold; font-size:large;">Join our mailing list: <a href="https://docs.google.com/forms/d/e/1FAIpQLSd_cJX8XcJXgYQJbczqw9SGRcHmp_kTR6Fej9-yCr7F1BSoCg/viewform">Mailing List Subscription</a></span>
          <div class="col-md-6">
              <!--i class="blinker fa fa-arrow-right fa-2x"></i>
            <a style="text-decoration: underline" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeQMByCAeS7v-OY8R205HwoSq2oqXc_vcNY0z4zRxQipwf-xA/viewform">
                Diwali Event Feedback Link</a-->
          </div>
        </div>
  </div>
  <div class="pmm-jumbotron" style="margin-top:5px;margin-bottom: 15px;">
    <div class="row" *ngIf="pmmevent && pmmevent.length > 0">
      <span class="col-md-12"><h4>UPCOMING EVENTS</h4></span>
    </div>
    <div class="row" *ngIf="pmmevent && pmmevent.length > 0">
        <span *ngFor="let e of pmmevent" class="col-md-6" style="margin-top:5px;">
            <h5>{{e.Title}} - {{e.Date}}</h5>
            <h6><u>Venue:</u> {{e.Venue}}</h6>
            <h6 *ngIf="e.Agenda.length > 1"><u>Event Timeline</u></h6>
            <div *ngIf="e.Agenda.length > 1">
              <div  *ngFor="let ea of e.Agenda">
                <span>{{ea.Time}}</span>
                <span>{{ea.Event}}</span>
              </div>
            </div>
            <h6 *ngIf="e.Agenda.length == 1"><u>Event Time</u> {{e.Agenda[0].Time}}</h6>
            <h6 *ngIf="e.RSVPLink" style="margin-top:5px;"><a [href]="e.RSVPLink">RSVP Link</a></h6>
            <!--h6 *ngIf="e.Fee"style="margin-top:5px;"><u>Program Fees:</u> {{e.Fee}}</h6>
            <h6 *ngIf="e.FeeDetails"><u>Fee Details:</u> <strong>{{e.FeeDetails}}</strong></h6>-->
            <h6 *ngIf="e.Fee"style="margin-top:5px;"> {{e.Fee}}</h6>
            <h6 *ngIf="e.FeeDetails">{{e.FeeDetails}}</h6>
            <h6 *ngIf="e.FeeLink" style="margin-top:5px;">{{e.FeeLink}}</h6>            
            <h6 *ngIf="e.FBLink"  style="margin-top:5px;">{{e.FBLink}}</h6>
            <!--h6 *ngIf="e.FeeLink" style="margin-top:5px;"><a [href]="e.FeeLink">TICKET LINK</a></h6>            
            <h6 *ngIf="e.FBLink"  style="margin-top:5px;"><a [href]="e.FBLink">Facebook Link</a></h6-->
            <div *ngIf="e.Video" class="embed-responsive embed-responsive-16by9">
              <!--<iframe class="embed-responsive-item" [src]="e.Video"></iframe>-->
              <!--need to wrap the videoURL with trustResourceAsURL later on, for now hard code the video-->
              <iframe src="https://www.youtube.com/embed/2796TUWQXRs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>              
            </div>
            <img *ngIf="!e.Video" [src]="e.Flyer" width="100%" style="margin-top: 10"/>
            <!--img *ngIf="!e.Video" [src]="e.Flyer2" width="100%" style="margin-top: 10"/-->
        </span>
    </div>
  </div>
  <div class="pmm-jumbotron" style="margin-top:5px;margin-bottom: 15px;">
    <div class="row" >
        <span class="col-md-12"  style="font-weight: bold; font-size:large;">
          Want to bring a great show to us. Submit your proposal here: <a href="https://goo.gl/forms/i8Q3Rb1xj0PGQmXg2">PMM Program Proposal Solicitation Portal</a>
        </span>
      </div>
</div>
  <div class="container">
      <!--img width="100%" 
      src="assets/images/PNGWebBanner.jpg"-->
  </div>  
</section>