<section class="home">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-5">फिलाडेल्फिया मराठी मंडळ</h1>
      <div style="color: rgb(0, 0, 128);margin-bottom:5px;">
        FAQ's about membership, annual membership fee, Annual picnic information, Year around various entertainment programs, Non member programs, Donation and much more...
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-4" style="margin-top:5px;">
        <h2>Upcoming Events</h2>
        <p>
          Talent Show
          Date: April 28 2018 (Sat)    
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4" style="margin-top:5px;">
        <h2>Upcoming Events</h2>
        <p>
          Marathi Asthitva
          Date: May 13 2018 (Sat)    
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>
  </div>
  
  <div class="container">
      <img width="100%" height="60%" 
      src="assets/images/c284cfcad4693227559db521363bdb0c.png">
  </div>  
</section>