<section class="home">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="pmm-jumbotron" style="margin-top:15px;">
    <div class="row">
      <!--
        <span class="col-md-4" style="font-weight: bold; font-size:large;">Membership brings significant savings</span>
        <span class="col-md-2">
          <a class="btn btn-sm btn-success" style="margin-left: 5px;" href= "membership">JOIN TODAY</a>
        </span>
        -->
        <!--
        <span class="col-md-2">
          <form ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="A8HXEXCSCR4UA">
            <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
             <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </span>
        -->
    </div> 
  </div>

  <div class="pmm-jumbotron" style="margin-top:5px;margin-bottom: 15px;">
      <div class="row" >
          <span class="col-md-6"  style="font-weight: bold; font-size:large;">Join our mailing list: <a href="https://docs.google.com/forms/d/e/1FAIpQLSd_cJX8XcJXgYQJbczqw9SGRcHmp_kTR6Fej9-yCr7F1BSoCg/viewform">Mailing List Subscription</a></span>
      </div>
      <div class="row" >
        <span class="col-md-12"  style="font-weight: bold; font-size:large;">
          Want to bring a great show to us. Submit your proposal here: <a href="https://goo.gl/forms/i8Q3Rb1xj0PGQmXg2">Program Proposal Submission Form</a>
          <br/>
          To notify us or for any further questions, please contact <a href = "mailto:Secy.PhillyMM@gmail.com">Secy.PhillyMM@gmail.com</a>
        </span>
    </div>

  </div>
  <div class="pmm-jumbotron" style="margin-top:5px;margin-bottom: 15px;" *ngIf="pmmFutureEvent && pmmFutureEvent.length > 0">
    <div class="row">
    </div>
    <div class="row">
      <span class="col-md-12" style="color:red;"><h4>UPCOMING EVENTS</h4></span>
    </div>
    <div class="row">
        <div *ngFor="let e of pmmFutureEvent" class="col-md-12" style="margin-top:5px;">
          <div class="col-md-8" style="margin-top:8px;">
            <hr class="col-xs-12"/> 
            <h4 style="color:black"><u>{{e.Title}}</u></h4>
            <h5 style="color:brown"> {{e.Title2}} </h5>
            <h5 *ngIf="e.ProgramDescription.length > 1"><i>{{e.ProgramDescription}}</i></h5>            
            <h6 *ngIf="e.Venue.length > 1" style="margin-top:5px; color:blue">Venue: <span style="color:black">{{e.Venue}}</span> </h6>
            <h6 *ngIf="e.Agenda.length > 0"><u>Event Timeline</u></h6>
            <div *ngIf="e.Agenda.length > 0">
              <div  *ngFor="let ea of e.Agenda">
                <span>{{ea.Time}}</span>
                <span>{{ea.Event}}</span>
              </div>
            </div>
            <h6 *ngIf="e.RSVPLink" style="margin-top:5px; color:blue">RSVP Link:<a [href]="e.RSVPLink">{{e.RSVPLink}}</a></h6>            
            <h6 *ngIf="e.PointOfContact.length > 1" style="margin-top:5px; color:blue">Point Of Contact: <span style="color:black" [innerHTML]="e.PointOfContact">{{e.PointOfContact}}</span></h6>                        
            <h6 *ngIf="e.ProgramLink.length > 1" style="margin-top:5px;">
              Program Link : <a [href]="e.ProgramLink">{{e.ProgramLink}}</a>
            </h6>
            <h6 *ngIf="e.EventPhotos.length > 1"><a href="{{e.EventPhotos}}" target="_blank">Event Photos</a></h6>
            <h6 *ngIf="e.Agenda.length > 1"><u>Event Time</u> {{e.Agenda[0].Time}}</h6>
            <h6 *ngIf="e.SurveyLink" style="margin-top:5px;"><a [href]="e.SurveyLink">Survey Link</a></h6>
            <!--h6 *ngIf="e.Fee"style="margin-top:5px;"><u>Program Fees:</u> {{e.Fee}}</h6>
            <h6 *ngIf="e.FeeDetails"><u>Fee Details:</u> <strong>{{e.FeeDetails}}</strong></h6>-->
            <h6 *ngIf="e.Fee" style="margin-top:5px;color:blue">Fee: <span style="color:black">{{e.Fee}}</span></h6>
            <h6 *ngIf="e.FeeDetails">{{e.FeeDetails}}</h6>
            <h6 *ngIf="e.FeeLink" style="margin-top:5px;"><a [href]="e.FeeLink"><b>Buy Tickets.</b></a></h6>            
            <h6 *ngIf="e.FBLink"  style="margin-top:5px;color:blue">Talent Show Entry:<a [href]="e.FBLink">{{e.FBLink}}</a></h6>
            <!--h6 *ngIf="e.FeeLink" style="margin-top:5px;"><a [href]="e.FeeLink">TICKET LINK</a></h6>            
            <h6 *ngIf="e.FBLink"  style="margin-top:5px;"><a [href]="e.FBLink">Facebook Link</a></h6-->
            <div *ngIf="e.Video" class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" [src]="e.Video | safeurl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <!--need to wrap the videoURL with trustResourceAsURL later on, for now hard code the video-->
              <!--<iframe src="https://www.youtube.com/embed/2796TUWQXRs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
              </iframe>-->              
            </div>
            <img *ngIf="!e.Video" [src]="e.Flyer" width="60%" style="margin-top: 10"/>
            <!--img *ngIf="!e.Video" [src]="e.Flyer2" width="100%" style="margin-top: 10"/-->
            <div *ngIf="e.MapLink">
              <iframe [src]="e.MapLink  | safeurl" width="600" height="450" style="border:0;" allowfullscreen="true" loading="lazy">
              </iframe>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="pmm-jumbotron" style="margin-top:5px;margin-bottom: 15px;">
  </div>
  
  <div class="container">
      <!--img width="100%" 
      src="assets/images/PNGWebBanner.jpg"-->
  </div>
</section>