<section class="container">
    <div class="bd-featurette-title" style="margin-top:10px;">
        <a class="navbar-brand"><h3> Membership</h3></a>
    </div>
    <!--
        <div>    
        Annual Membership of our Mandal begins from the Ganapati Program and is valid till the Annual Picnic (from September to August of following year). 
    </div>
    -->
    <div>
        <p></p>
        <p>   
            IMPORTANT NOTE: PLEASE SELECT YOUR MEMBERSHIP CATEGORY CAREFULLY.  MEMBERSHIP IN A CATEGORY THAT IS INCORRECT OR NON-APPLICABLE WILL BE CONSIDERED EQUIVALENT TO NON-MEMBERSHIP.
        </p>
        <p><strong style="color:tomato">Prior to purchasing a membership, please update your information by filling this questionnaire: 
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdKMawstj80F7mz4ZamHI07yOYfeMArDndYZ8-Qb7MsJsk2Vg/viewform"> Member Information Page Questionnaire</a>.</strong> </p>
        
    </div>
    
    <div>
        <span class="alert alert-success" style="width: 100%">
            New membership is coming soon, stay tuned!
        </span>
    </div>
</section>